@use './util' as *;
@forward './components/';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat';
}
img  {
  display: block;
  width: 100%;
  &.tab, &.desktop {
    display: none;
  }
  //--Tab
  @media (min-width: $mini-tab) and (max-width: $big-tab) {
    &.tab {
      display: block;
    }
    &.mobile,&.desktop {
      display: none;
    }
  }
  //--Desktop
  @media (min-width: $big-tab) {
    &.desktop {
      display: block;
    }
    &.mobile,&.tab {
      display: none;
    }
  }
}
body {
  background-color: var(--rose-50);
}

main {
  margin: 40px 20px;
  @include df(normal, normal, column, 20px);

  @media (min-width: $mini-tab) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    >* {
      //border: 1px solid;
      grid-column: 1/-1;
    }
  }
  @media (min-width: $big-tab) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: $desktop) {
    place-self: center;
    display: grid;
    grid-template-columns: 250px 250px 250px minmax(300px, 1fr);
    grid-template-rows: 3rem auto auto;
    grid-auto-flow: dense;
    gap: 30px 40px;
    >h1,.grid {
      grid-column: span 3;
    }
    .cart {
      grid-column: span 1;
      grid-row: span 2;
      height: auto;
      // grid-column-start: -1;
      // grid-row-start: -1;
    }
  }
}


.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}