
//Toggle dark mode


//px to rem converter
@function rem($px, $base: 16) {
  @return #{$px / $base}rem;
}

// @function transparentizeColor($color) {
//   $alpha: getalpha($color);
//   @return rgba($color, $alpha);
// }