@use '../util/' as *;

.item {
  max-width: 100%;
  position: relative;
  &__pic {
    position: relative;
    border-radius: 20px;
    @include df(center, center, column, 0);
    img {
      //border: 3px solid var(--red);
      border-radius: inherit;
    }
  }
  &__button {
    color: #000;
    position: absolute;
    height: 45px;
    bottom: 0;
    transform: translateY(50%);
    width: 200px;
    height: 50px;
    position: absolute;

    label,.counter {
      display: flex;
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 25px;
    }

    label {
      border: 1px solid var(--rose-300);
      cursor: pointer;
      background: #fff;
      z-index: 1;
      font-weight: 600;
      transition: all .3s;
      @include df(center, center, row, 10px);
      img {
        display: inline-block;
        width: auto;
        border-radius: 0;
        height: 25px;
        border: none;
      }
      &:hover {
        color: var(--red);
      }
    }
    .counter {
      transform: translateY(100%);
      transition: all .3s;
      width: 100%;
      padding: 0 20px;
      background-color: var(--red);
      color: #fff;
      opacity: 0;
      @include df(space-between, center, row, 10px);

      &.counter-ON {
        transform: translateY(0%);
        z-index: 2;
        width: 100%;
        opacity: 100%;
      }

      >button {
        width: 20px;
        height: 20px;
        background-color: inherit;
        color: inherit;
        border: 1px solid;
        padding: 2px;
        border-radius: 50%;
        transition: all .3s;
        cursor: pointer;
        @include df(center, center);
        &:hover {
          transform: scale(1.05);
        }
      }
    }
    [id*=tick] {
      display: none;
    }
  }
  &__description {
    margin-top: 40px;
    line-height: 1;
    @include df(normal, normal, column, 10px);
    &__category {
      color: var(--rose-300);
    }
    &__name {
      font-weight: 600;
    }
    &__price {
      color: var(--red);
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}