@use '../util/' as *;

.confirmedOrder {
  width: 600px;
  border: 2px solid;
  // @include df(normal, normal, column, 20px);
  img {
    width: auto;
  }
  >p {
    color: var(--rose-400);
  }
  &__items {
    padding: 20px;
    background-color: var(--rose-100);
  }
  &__item {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 20px;
    img {
      width: 100%;
    }
    &__description {
      display: grid;
      grid-template-columns: 1fr 100px;
      >* {
        border: 1px solid;
      }
      &__name {
        font-weight: 700;
      }
      &__timesPrice {
        //Continue from here
      }
    }
  }
}